<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/carrito.css" />
    <title>To-Má</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./detalle_producto.html">Producto</a></li>
        <li><a href="#">Carrito</a></li>
        <li><a href="./registro.html">Registro</a></li>
        <li><a href="./usuario.html">Usuario</a></li>
      </ul>
    </nav>
    <header>
      <article class="article-carrito">
        <img src="/img/cerveza.png" alt="" />
      </article>
      <section>
        <article>
          <h5>Resumen de compras</h5>
        </article>
        <article>
          <button type="submit">Continuar Compra</button>
        </article>
      </section>
    </header>
    <main id="main-carrito">
      <div>
        <h3>Tambien te interesó</h3>
      </div>
      <section class="tarjetas-main">
        <article class="article-main-carrito">
          <div>
            <img class="imagen-main-carrito" src="/img/gaseosas.jpg" alt="" />
          </div>
          <div class="boton-main-carrito"><button>Ir a Producto</button></div>
        </article>
        <article class="article-main-carrito">
          <img class="imagen-main-carrito" src="/img/gaseosas.jpg" alt="" />
          <button>Ir a Producto</button>
        </article>
        <article class="article-main-carrito">
          <img class="imagen-main-carrito" src="/img/gaseosas.jpg" alt="" />
          <button>Ir a Producto</button>
        </article>
        <article class="article-main-carrito">
          <img class="imagen-main-carrito" src="/img/gaseosas.jpg" alt="" />
          <button>Ir a Producto</button>
        </article>
      </section>
    </main>
    <footer id="footer-index">
      <div>Contactanos</div>
      <section>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Whatsapp</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>

        <img src="" alt="gps" />
      </section>
    </footer>
  </body>
</html>
