<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Drink Shop</h1>
    </header>
    <nav>
      <a href="#">Home</a>
      <a href="#">Producto</a>
      <a href="#">Carrito</a>
      <a href="#">Registro</a>
      <a href="#">Usuario</a>
    </nav>

    <main>
      <section id="productos"></section>

      <section id="carrito">
        <h2>Carrito</h2>
        <ul id="lista-carrito"></ul>
        <div id="detalles-carrito">
          <img id="imagen-producto" src="" alt="Productos del carrito" />
          <div id="acciones-carrito">
            <button id="eliminar">Eliminar</button>
            <button id="guardar">Guardar</button>
            <button id="modificar">Modificar</button>
            <button id="comprar">Comprar ahora</button>
          </div>
          <div>
            <h3>Detalles de envío</h3>
            <form id="envio-form">
              <label for="calle">Calle:</label>
              <input type="text" id="calle" name="calle" required />
              <label for="numero">Número:</label>
              <input type="number" id="numero" name="numero" required />
              <label for="barrio">Barrio:</label>
              <input type="text" id="barrio" name="barrio" required />
              <button type="submit">Guardar detalles de envío</button>
            </form>
          </div>

          <div>
            <h3>También te interesó</h3>

            <div class="producto">
              <img src="producto.jpg" alt="Producto 1" />
              <h4>Producto 1</h4>
              <p>Precio: $</p>
              <button class="agregar-carrito">Añadir al carrito</button>
            </div>

            <div class="producto">
              <img src="producto.jpg" alt="Producto 2" />
              <h4>Producto 2</h4>
              <p>Precio: $</p>
              <button class="agregar-carrito">Añadir al carrito</button>
            </div>

            <div class="producto">
              <img src="producto.jpg" alt="Producto 3" />
              <h4>Producto 3</h4>
              <p>Precio: $</p>
              <button class="agregar-carrito">Añadir al carrito</button>
            </div>

            <div class="producto">
              <img src="producto.jpg" alt="Producto 4" />
              <h4>Producto 4</h4>
              <p>Precio: $</p>
              <button class="agregar-carrito">Añadir al carrito</button>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="tuscript.js"></script>
  </body>
</html>
