<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/detalleproducto.css" />
    <script
      src="https://kit.fontawesome.com/91be3b2f24.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="./">Home</a></li>
          <li><a href="#">Producto</a></li>
          <li><a href="./carrito">Carrito</a></li>
          <li><a href="./registro">Registro</a></li>
          <li><a href="./usuario">Usuario</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="imgbanner">
        <img src="/img/productos/bannernew2.webp" alt="Imagen banner" />
      </div>
      <div class="flechavolver">
        <i class="fa-solid fa-arrow-left"></i>
        <p class="volver">Volver</p>
      </div>
      <button class="header-carro">
        <i class="fa-solid fa-cart-arrow-down"></i>
      </button>
      <div id="Cervezas" class="productos-categoria">
        <article class="cerveza1">
          <img src="/img/productos/cerveza03.jpg" alt="Imagen Stella Artois" />
          <div class="detail">
            <div class="product">Pack: 6 Schneider Lager</div>
            <div class="liters">473ml</div>
            <div class="price">$3000</div>
            <div class="delivery">Entrega en menos de 45'</div>
            <div class="desc">Te la entregamos <strong>FRIA</strong></div>
            <div class="contador">
              <button onclick="restar()">-</button>
              <span id="cantidad">0</span>
              <button onclick="sumar()">+</button>
            </div>
            <button class="add">AGREGAR</button>
          </div>
        </article>
      </div>

      <p class="titulo1">Productos recomendados</p>
      <div class="contenedorcarrusel">
        <div class="flecha1">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div id="Gaseosas" class="productos-recomendados">
          <article class="Gaseosa1">
            <img src="/img/productos/gaseosa01.jpg" alt="" />
            <div class="detail">
              <div class="product">Coca Cola Sin Azúcar</div>
              <div class="brand">Coca Cola</div>
              <div class="desc">Pack x 6un</div>
              <div class="liters">1.5L</div>
            </div>
            <div class="price">
              <p>Precio</p>
              $6320,00
            </div>
            <button class="add">AGREGAR</button>
          </article>
          <article class="Gaseosa2">
            <img src="/img/productos/gaseosa02.jpg" alt="" />
            <div class="detail">
              <div class="product">7up Lima Limon</div>
              <div class="brand">7up</div>
              <div class="desc">Pack x 6un</div>
              <div class="liters">1.5L</div>
            </div>
            <div class="price">
              <p>Precio</p>
              $4500,00
            </div>
            <button class="add">AGREGAR</button>
          </article>
          <article class="Gaseosa3">
            <img src="/img/productos/gaseosa03.jpg" alt="" />
            <div class="detail">
              <div class="product">Pepsi Cola</div>
              <div class="brand">Pepsi</div>
              <div class="desc">Pack x 6un</div>
              <div class="liters">1.5L</div>
            </div>
            <div class="price">
              <p>Precio</p>
              $4500,00
            </div>
            <button class="add">AGREGAR</button>
          </article>
          <article class="Gaseosa4">
            <img src="/img/productos/gaseosa01.jpg" alt=" " />
            <div class="detail">
              <div class="product">Coca Cola Sin Azúcar</div>
              <div class="brand">Coca Cola</div>
              <div class="desc">Pack x 6un</div>
              <div class="liters">1.5L</div>
            </div>
            <div class="price">
              <p>Precio</p>
              $6320,00
            </div>
            <button class="add">AGREGAR</button>
          </article>
          <article class="Gaseosa5">
            <img src="/img/productos/gaseosa02.jpg" alt="" />
            <div class="detail">
              <div class="product">7up Lima Limon</div>
              <div class="brand">7up</div>
              <div class="desc">Pack x 6un</div>
              <div class="liters">1.5L</div>
            </div>
            <div class="price">
              <p>Precio</p>
              $4500,00
            </div>
            <button class="add">AGREGAR</button>
          </article>
          <article class="Gaseosa6">
            <img src="/img/productos/gaseosa03.jpg" alt="" />
            <div class="detail">
              <div class="product">Pepsi Cola</div>
              <div class="brand">Pepsi</div>
              <div class="desc">Pack x 6un</div>
              <div class="liters">1.5L</div>
            </div>
            <div class="price">
              <p>Precio</p>
              $4500,00
            </div>
            <button class="add">AGREGAR</button>
          </article>
          <article class="Gaseosa7">
            <img src="/img/productos/gaseosa01.jpg" alt=" " />
            <div class="detail">
              <div class="product">Coca Cola Sin Azúcar</div>
              <div class="brand">Coca Cola</div>
              <div class="desc">Pack x 6un</div>
              <div class="liters">1.5L</div>
            </div>
            <div class="price">
              <p>Precio</p>
              $6320,00
            </div>
            <button class="add">AGREGAR</button>
          </article>
        </div>
        <div class="flecha2">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </main>

    <footer>
      <div class="redes">
        <p>Seguinos en nuestras redes</p>
        <ul>
          <li>
            <a href=""><i class="fa-brands fa-telegram"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <hr class="linea-divisoria" />
      <div class="contact-section">
        <div class="copy">© 2023 SHOP DRINK</div>
        <div class="contact-section2">
          BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
        </div>
      </div>
    </footer>
  </body>
</html>
