
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del Producto</title>
   <!-- <link rel="stylesheet" href="detalleproducto.css"> -->
    <link rel="stylesheet" href="/css/detalleproducto.css">
      

  

  </head>

  <body>
    <header>
      <h1>Drink Shop</h1>
  </header>
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="#">Producto</a></li>
        <li><a href="./carrito.html">Carrito</a></li>
        <li><a href="./registro.html">Registro</a></li>
        <li><a href="./usuario.html">Usuario</a></li>
      </ul>
    </nav>
    <header>
      <h1>Detalles de Productos</h1>
    </header>
    <main>
      <div>
        <div id="vinos" class="productos-categoria">
          <!-- Productos de Vinos -->
          <article class="vino1">
            <img src="/img/productos/vino01.jpg" alt="" width="200" height="200">
              <div class="detail">
                  <div class="product"> Vino </div>
                  <div class="brand"> Portillo</div>
                  <div class="desc"> Malbec </div> 
                  <div class="liters"> 750ml</div> 
              </div> 
              <div class="price">
                  <p>Precio</p>$2063,00
              </div>
              <button class="add">AGREGAR</button>
          </article>

          <article class="vino2">
            <img src="/img/productos/vino02.jpg" alt="" width="200" height="200">
              <div class="detail">
                  <div class="product"> Vino </div>
                  <div class="brand"> Fabre Montmayour</div>
                  <div class="desc"> Malbec</div> 
                  <div class="liters"> 750ml</div> 
              </div> 
              <div class="price">
                  <p>Precio</p>$3000,00
              </div>
              <button class="add">AGREGAR</button>
          </article>

          <article class="vino3">
            <img src="/img/productos/vino03.jpg" alt="" width="200" height="200">
              <div class="detail">
                  <div class="product"> Vino </div>
                  <div class="brand"> Viu Manent </div>
                  <div class="desc"> Malbec</div> 
                  <div class="liters"> 750ml</div> 
              </div> 
              <div class="price">
                  <p>Precio</p>$2000,00
              </div>
              <button class="add">AGREGAR</button>
          </article>
      </div>
      </div>

      <div id="Cervezas" class="productos-categoria">
        <!-- Productos de Cervezas -->
        <article class="Cerveza1">
          <img src="/img/productos/cerveza01.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> Pack: 6 Stella Artois </div>
                <div class="brand"> Stella Artois </div>
                <div class="desc"> Stella Artois </div> 
                <div class="liters"> 473ml</div> 
            </div> 
            <div class="price">
                <p>Precio</p>$3000,00
            </div>
            <button class="add">AGREGAR</button>
        </article>
        <article class="Cerveza2">
          <img src="/img/productos/cerveza02.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> Pack: 6 Miller </div>
                <div class="brand"> Miller </div>
                <div class="desc"> Miller </div> 
                <div class="liters"> 473ml</div> 
            </div> 
            <div class="price">
                <p>Precio</p>$2300,00
            </div>
            <button class="add">AGREGAR</button>
        </article>
        <article class="Cerveza3">
          <img src="/img/productos/cerveza03.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> Pack: 6 Schneider </div>
                <div class="brand"> Schneider </div>
                <div class="desc"> Schneider </div> 
                <div class="liters"> 473ml</div> 
            </div> 
            <div class="price">
                <p>Precio</p>$2500,00
            </div>
            <button class="add">AGREGAR</button>
        </article>
      </div>

      <div id="Gaseosas" class="productos-categoria">
        <!-- Productos de Gaseosas -->
        <article class="Gaseosa1">
          <img src="/img/productos/gaseosa01.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> Coca Cola Sin Azúcar </div>
                <div class="brand"> Coca Cola </div>
                <div class="desc"> Pack x 6un </div> 
                <div class="liters"> 1.5L</div> 
            </div> 
            <div class="price">
                <p>Precio</p>$6320,00
            </div>
            <button class="add">AGREGAR</button>
        </article>
        <article class="Gaseosa2">
          <img src="/img/productos/gaseosa02.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> 7up Lima Limon </div>
                <div class="brand"> 7up </div>
                <div class="desc"> Pack x 6un </div> 
                <div class="liters"> 1.5L</div> 
            </div> 
            <div class="price">
                <p>Precio</p>$4500,00
            </div>
            <button class="add">AGREGAR</button>
        </article>
        <article class="Gaseosa3">
          <img src="/img/productos/gaseosa03.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> Pepsi Cola </div>
                <div class="brand"> Pepsi </div>
                <div class="desc"> Pack x 6un </div> 
                <div class="liters"> 1.5L</div> 
            </div> 
            <div class="price">
                <p>Precio</p>$4500,00
            </div>
            <button class="add">AGREGAR</button>
        </article>

      </div>
      <div class="contact-section">
        <h2>Contactanos</h2>
        <p>Ponte en contacto con nosotros para más información.</p>
        
        <img src="facebook.png" alt="Facebook">
        <img src="whatsapp.png" alt="WhatsApp">
        <img src="instagram.png" alt="Instagram">
    </div>

    </main>
    <footer>
      <p>&copy; 2023 SHOP DRINK</p>
    </footer>

  </body>
</html>
