<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle del Producto</title>
  <link rel="stylesheet" href="/css/detalleproducto.css">
  <script src="https://kit.fontawesome.com/91be3b2f24.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="#">Producto</a></li>
        <li><a href="./carrito.html">Carrito</a></li>
        <li><a href="./registro.html">Registro</a></li>
        <li><a href="./usuario.html">Usuario</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="imgbanner">
      <img src="/img/productos/banner3.jpg" alt="Imagen banner">
    </div>
    <div class="flechavolver">
      <i class="fa-solid fa-arrow-left"></i>
      <p class="volver"> Volver </p>
    </div>
    <!--  -->
    <!--
        <div id="vinos" class="productos-categoria">
           Productos de Vinos
          <article class="vino1">
            <img src="/img/productos/vino01.jpg" alt="" width="300" height="300">
              <div class="detail">
                  <div class="product"> Vino </div>
                  <div class="brand"> Portillo</div>
                  <div class="desc"> Malbec </div> 
                  <div class="liters"> 750ml</div> 
                  <div class="price"> <p>Precio</p>$2063,00 </div>
              <div class="add"> <button class="add">AGREGAR</button></div>
            </div> 
          </article>

           <article class="vino2">
            <img src="/img/productos/vino02.jpg" alt="" width="300" height="300">
              <div class="detail">
                  <div class="product"> Vino </div>
                  <div class="brand"> Fabre Montmayour</div>
                  <div class="desc"> Malbec</div> 
                  <div class="liters"> 750ml</div> 
              </div> 
              <div class="price">
                  <p>Precio</p>$3000,00
              </div>
              <button class="add">AGREGAR</button>
          </article>

          <article class="vino3">
            <img src="/img/productos/vino03.jpg" alt="" width="300" height="300">
              <div class="detail">
                  <div class="product"> Vino </div>
                  <div class="brand"> Viu Manent </div>
                  <div class="desc"> Malbec</div> 
                  <div class="liters"> 750ml</div> 
              </div> 
              <div class="price">
                  <p>Precio</p>$2000,00
              </div>
              <button class="add">AGREGAR</button>
          </article> 
      </div>
-->
    <div id="Cervezas" class="productos-categoria">
      <article class="cerveza1">
        <img src="/img/productos/cerveza03.jpg" alt="Imagen Stella Artois">
        <div class="detail">
          <div class="product"> Pack: 6 Schneider Lager</div>
          <div class="liters"> 473ml</div>
          <div class="price"> $3000 </div>
          <div class="delivery"> Entrega en menos de 45' </div>
          <div class="desc"> Te la entregamos <strong>FRIA</strong> </div>
          <div class="contador">
            <button onclick="restar()">-</button>
            <span id="cantidad">0</span>
            <button onclick="sumar()">+</button>
          </div>
          <button class="add">AGREGAR</button>
        </div>
      </article>
    </div>

    <p class="titulo1"> Productos recomendados </p>

    <div id="Gaseosas" class="productos-recomendados">

      <div class="flecha1">
        <i class="fa-solid fa-arrow-left"></i>
      </div>

      <article class="Gaseosa1">
        <img src="/img/productos/gaseosa01.jpg" alt="">
        <div class="detail">
          <div class="product"> Coca Cola Sin Azúcar </div>
          <div class="brand"> Coca Cola </div>
          <div class="desc"> Pack x 6un </div>
          <div class="liters"> 1.5L</div>
        </div>
        <div class="price">
          <p>Precio</p>$6320,00
        </div>
        <button class="add">AGREGAR</button>
      </article>
      <article class="Gaseosa2">
        <img src="/img/productos/gaseosa02.jpg" alt="">
        <div class="detail">
          <div class="product"> 7up Lima Limon </div>
          <div class="brand"> 7up </div>
          <div class="desc"> Pack x 6un </div>
          <div class="liters"> 1.5L</div>
        </div>
        <div class="price">
          <p>Precio</p>$4500,00
        </div>
        <button class="add">AGREGAR</button>
      </article>
      <article class="Gaseosa3">
        <img src="/img/productos/gaseosa03.jpg" alt="">
        <div class="detail">
          <div class="product"> Pepsi Cola </div>
          <div class="brand"> Pepsi </div>
          <div class="desc"> Pack x 6un </div>
          <div class="liters"> 1.5L</div>
        </div>
        <div class="price">
          <p>Precio</p>$4500,00
        </div>
        <button class="add">AGREGAR</button>
      </article>


      <article class="Gaseosa1">
        <img src="/img/productos/gaseosa01.jpg" alt=" ">
        <div class="detail">
          <div class="product"> Coca Cola Sin Azúcar </div>
          <div class="brand"> Coca Cola </div>
          <div class="desc"> Pack x 6un </div>
          <div class="liters"> 1.5L</div>
        </div>
        <div class="price">
          <p>Precio</p>$6320,00
        </div>
        <button class="add">AGREGAR</button>
      </article>

      <div class="flecha2">
        <i class="fa-solid fa-arrow-right"></i>
    </div>

    </div>

    <!--
        <article class="Cerveza2">
          <img src="/img/productos/cerveza02.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> Pack: 6 Miller </div>
                <div class="brand"> Miller </div>
                <div class="desc"> Miller </div> 
                <div class="liters"> 473ml</div> 
            </div> 
            <div class="price">
                <p>Precio</p>$2300,00
            </div>
            <button class="add">AGREGAR</button>
        </article>
        <article class="Cerveza3">
          <img src="/img/productos/cerveza01.jpg" alt="" width="200" height="200">
            <div class="detail">
                <div class="product"> Pack: 6 Stella Artois </div>
                <div class="brand"> Stella Artois </div>
                <div class="desc"> Stella Artois </div> 
                <div class="liters"> 473ml</div>  
            </div> 
            <div class="price">
                <p>Precio</p>$2500,00
            </div>
            <button class="add">AGREGAR</button>
        </article>
      </div>
-->
  </main>

  <footer>
    <div class="redes">
      <p>Seguinos en nuestras redes</p>
      <ul>
        <li><a href=""><i class="fa-brands fa-telegram"></i></a></li>
        <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
    <!-- <div class="imgcopy">
          <img src="/img/logo.jpg" alt="Logo">
    </div> -->
    <hr class="linea-divisoria">
    
    <div class="contact-section">
    <div class="copy"> © 2023 SHOP DRINK</div>  
    <div class="contact-section2"> BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS </div>
    
    </div>
    

  </footer>

</body>

</html>