<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="./detalle_producto.html">Producto</a></li>
          <li><a href="./carrito.htm">Carrito</a></li>
          <li><a href="./registro.html">Registro</a></li>
          <li><a href="./usuario.html">Usuario</a></li>
        </ul>
      </nav>
      <section>
        <div class="sin-alcohol">
          <h3>SIN ALCOHOL</h3>

          <button class="boton" type="submit">ver mas</button>
        </div>
        <div class="gaseosas">
          <h3>GASEOSAS</h3>
          <button class="boton" type="submit">ver mas</button>
        </div>
        <div class="cervezas">
          <h3>CERVEZAS</h3>
          <button class="boton" type="submit">ver mas</button>
        </div>
        <div class="tragos">
          <h3>TRAGOS</h3>

          <button class="boton" type="submit">ver mas</button>
        </div>
      </section>
    </header>
    <main>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
    </main>
    <footer>
      <div>Contactanos</div>
      <div>
        <a href="http://">Facebook</a>
        <a href="http://">Whatsapp</a>
        <a href="http://">Instagram</a>
        <img src="" alt="gps" />
      </div>
    </footer>
  </body>
</html>
