<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="./detalle_producto.html">Producto</a></li>
        <li><a href="./carrito.html">Carrito</a></li>
        <li><a href="./registro.html">Registro</a></li>
        <li><a href="./usuario.html">Usuario</a></li>
      </ul>
    </nav>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>
