<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>To-Má</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="./detalle_producto.html">Producto</a></li>
          <li><a href="./carrito.htm">Carrito</a></li>
          <li><a href="./registro.html">Registro</a></li>
          <li><a href="./usuario.html">Usuario</a></li>
        </ul>
      </nav>
      <section>
        <div class="sin-alcohol">
          <h3>SIN ALCOHOL</h3>

          <button class="boton" type="submit">ver mas</button>
        </div>
        <div class="gaseosas">
          <h3>GASEOSAS</h3>
          <button class="boton" type="submit">ver mas</button>
        </div>
        <div class="cervezas">
          <h3>CERVEZAS</h3>
          <button class="boton" type="submit">ver mas</button>
        </div>
        <div class="tragos">
          <h3>TRAGOS</h3>

          <button class="boton" type="submit">ver mas</button>
        </div>
      </section>
    </header>
    <main>
      <section class="contenedor-1">
        <article>
          <img
            class="imagen-main"
            src="/public/img/cervezas-y-tragos.png"
            alt=""
          />
          <h3>Alcoholicas</h3>

          <h4>
            Explora el Sabor en Cada Trago: Cervezas y Cocteles Artesanales
          </h4>
          <p>
            En nuestro rincón de indulgencia, te invitamos a descubrir la
            perfección en cada sorbo. Desde la efervescencia refrescante de
            nuestras cervezas artesanales hasta la creatividad destilada en
            nuestros cocteles exclusivos, cada opción en nuestra selección está
            diseñada para deleitar tus sentidos.
          </p>
          <a href="detalle_producto.html"
            ><button type="submit">Comprar</button></a
          >
        </article>

        <article>
          <img class="imagen-main" src="/public/img/jugos-main.jpg" alt="" />
          <h3>Jugos</h3>

          <h4>Jugos Naturales y Refrescantes para Cada Paladar</h4>
          <p>
            En nuestro paraíso de sabores naturales, los jugos se destacan como
            una opción fresca y saludable. Desde los clásicos cítricos hasta las
            mezclas exóticas, nuestros jugos están diseñados para ofrecer una
            explosión de frescura en cada sorbo. Descubre la alegría de lo
            natural en To-Má.
          </p>
          <a href="detalle_producto.html"
            ><button type="submit">Comprar</button></a
          >
        </article>

        <article>
          <img class="imagen-main" src="/public/img/soda-tax-usda.jpg" alt="" />
          <h3>Gaseosas</h3>

          <h4>Gaseosas Clásicas: Dulzura Efervescente en Cada Burbuja</h4>
          <p>
            Explora el efervescente mundo de nuestras gaseosas clásicas, donde
            la dulzura y la carbonatación se combinan para ofrecer una
            experiencia refrescante inigualable. En To-Má, celebramos las
            gaseosas con azúcar, brindando momentos de placer en cada botella.
          </p>
          <a href="detalle_producto.html"
            ><button type="submit">Comprar</button></a
          >
        </article>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
      <section>
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae
          eius blanditiis adipisci, dolores eos praesentium tempore, nam
          perferendis dolorem ullam voluptate sed doloribus magni debitis itaque
          cupiditate? Adipisci, deserunt. Deserunt, in cum, assumenda doloremque
          accusamus, reiciendis suscipit quidem nulla animi nihil id ea. Alias
          tempore mollitia sed dolorum. Fugiat laborum reiciendis ipsa quas modi
          molestiae, deserunt cum numquam quae.
        </h3>
      </section>
    </main>
    <footer>
      <div>Contactanos</div>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Whatsapp</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>

      <img src="" alt="gps" />
    </footer>
  </body>
</html>
