<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!--Header-->
    <header>
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./detalle_producto.html">Producto</a></li>
                <li><a href="./carrito.html">Carrito</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="./usuario.html">Usuario</a></li>
            </ul>
        </nav>
    </header>
<p>Pruebaade letra</p>
    <!--Main-->>
    <main>
        <img id="logo" src="/img/Logo2.jpeg" alt="Logo">
        <Section>
            <!--Aqui voy a crear el carrito fixed expandible con imagen de fondo-->
        </Section>
    </main>

    <!--Footer-->
    <footer>
<p>Prueba de fotteerrrrr</p>
    </footer>
</body>
</html>