<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <!--Header-->
    <header>
        <button class="header-carro">
            <i class="fa-solid fa-cart-arrow-down"></i>
        </button>
        <a href="./"><img class="logo" src="/img/Logo2.png" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./detalle_producto.html">Producto</a></li>
                <li><a href="./carrito.html">Carrito</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="./usuario.html">Usuario</a></li>
            </ul>
        </nav>
    </header>
    <!--Main-->
    <main>
        <p class="registrate">REGISTRATE</p>
        <p class="texto1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam eius
            reiciendis quaerat quam error
            eaque vero dignissimos unde officiis temporibus similique inventore ad in recusandae labore voluptatum,
            officia architecto?</p>

        <form action="/registro" method="POST">
            <div class="formulario-div">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" placeholder="Apellido">
            </div>
            <div class="formulario-div">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="formulario-div">
                <label for="DNI">DNI</label>
                <input type="number" name="DNI" placeholder="14546756">
            </div>
            <div class="formulario-div">
                <label for="fecha">Fecha de Nacimiento</label>
                <input type="date" name="fecha" min="1970-01-01" max="2030-01-01">
            </div>
            <div class="formulario-div">
                <label for="celular">Celular</label>
                <input type="tel" name="celular" placeholder="3855987543">
            </div>
            <div class="formulario-div">
                <label for="genero">Genero</label>
                <select name="genero">
                    <option value="1" selected>
                        Masculino
                    </option>
                    <option value="2">
                        Femenino
                    </option>
                </select>
            </div>
            <div class="enviar-cancelar">
                <button type="submit">Enviar</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </main>

    <!--Footer-->
    <footer>
        <div>
            <a href="#">Contactanos</a>
            <a href="#">Sugerencias</a>
            <a href="#">Sucursales</a>
        </div>
        <div>
            <a href="#">Dejanos tu CV</a>
            <a href="#">GPS</a>
            <a href="#">algo mas</a>
        </div>
        <div>
            <a href="https://wa.me/1234567890">
                <i class="fa-brands fa-square-whatsapp">Whatsapp</i>
            </a>
            <a href="https://www.instagram.com/tu_nombre_de_usuario">
                <i class="fa-brands fa-square-instagram">Instagram</i>
            </a>
            <a href="https://www.facebook.com/tu_nombre_de_usuario">
                <i class="fa-brands fa-facebook">Facebook</i>
            </a>
        </div>
    </footer>
</body>

</html>