<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complemento</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="img-header">
            <!-- <img class="img-logo" src="/img/Logo2.png" alt="Logo"> -->
            <button class="icon-menu">
                <i class="fa-solid fa-square-caret-down"></i>
            </button>
        </div>
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./detalle_producto.html">Producto</a></li>
                <li><a href="./carrito.html">Carrito</a></li>
                <li><a href="#">Registro</a></li>
                <li><a href="./usuario.html">Usuario</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolor ad natus, praesentium voluptatibus
            ullam in aperiam error, vel assumenda voluptate, repudiandae facere? Quisquam aliquid consequatur nulla
            labore officiis itaque.</p>
    </main>
    <footer class="footer-column">
        <div>
            <a href="#">Contactanos</a>
            <a href="#">Sugerencias</a>
            <a href="#">Sucursales</a>
        </div>
        <div>
            <a href="#">Dejanos tu CV</a>
            <a href="#">GPS</a>
            <a href="#">algo mas</a>
        </div>
        <div>
            <a href="https://wa.me/1234567890">
                <i class="fa-brands fa-square-whatsapp">Whatsapp</i>
            </a>
            <a href="https://www.instagram.com/tu_nombre_de_usuario">
                <i class="fa-brands fa-square-instagram">Instagram</i>
            </a>
            <a href="https://www.facebook.com/tu_nombre_de_usuario">
                <i class="fa-brands fa-facebook">Facebook</i>
            </a>
        </div>
    </footer>
</body>

</html>