main{
    display: flex;
}
.box-selection{
    display: flex;
    background-color: aqua;
    flex: 20%;
    flex-direction: column;
    height: 100vw;
}
.box-selection button{
    width: 100%;
}
.box-render{
    background-color: beige;
    flex: 80%;
    height: 100vw;
}

.prueba{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-color: brown;
}

.prueba1{
    display: flex;
}
.prueba1 img{
    max-width: 25%;
}
.prueba2{
    display: flex;
    flex-direction: column;
}
.pruebabotones{
    display: flex;
    flex-direction: row;
}