/*BOTONES*/
/* .btn {
    border: none;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
}

.primary {
    background-color: white;
    border: 2px solid #007bff;
}

.primary:hover {
    background: #0b7dda;
    color: white;
} */

/*FIN BOTONES ADMIN*/

/*BARRA MENU*/
.menu {
    position: absolute;
    z-index: 4;
    height: 100vh;
    width: 0;
    background-color: #333;
    color: #fff;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
}

.ul-menu {
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.menu li {
    padding: 15px;
    border-bottom: 1px solid #555;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

#toggleBtn {
    background-color: rgb(86 48 221);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
}


/*FIN BARRA MENU*/

.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -4;
}
.bloque-carrusel{
    border-radius: 4px;
    border: 5px solid aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.botones-productos{
    display: flex;
    justify-content: space-around;
}

.info-producto{
    display: flex;
    justify-content: center;
}
.info-columna-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-columna-2{
    display: flex;
    flex-direction: column;
    
}