main{
  padding-top: 60px;
  font-size: 12px;
}

/*CARRITO*/
.carrito-form{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.carrito-form *{
  margin: 5px 20%;
}
.carrito-form h3{
  border-bottom: 1px solid black;
  text-align: center;
}
.carrito-img{
  width: 120px;
}
.carrito-descripcion-caja{
  background-color:rgb(86 48 221);
  margin: 5px auto;
}
.carrito-descripcion{
  display: inline-flex;
  margin: 5px;
}

/*CARRITO-FIN*/

/*RULETA*/
.ruleta-section{
  all: initial;
  width: auto;
  display: flex;
  margin: 10px 10vw;
  overflow-x: auto;
  background-color: rgb(86 48 221);
}
.ruleta-article {
  all: initial;
  flex: 0 0 auto;
  border: 1px solid black;
  margin: 2px;
  background-color: white;
  text-align: center;
}
.ruleta-article *{
  margin-bottom: 2px;
}
.ruleta-img{
  width: 100px;
}

/*RULETA FIN*/