main{
  padding-top: 60px;
  font-size: 12px;
}

/*CARRITO*/
.carrito-img-grande{
  width: 120px;
}
.carrito-img-chica{
  width: 30px;
  height: 30px;
}
.carrito-section{
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.carrito-img-agregados{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px auto;
}
.carrito-descripcion{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 150px;
  margin: auto 5px;
}
.carrito-descripcion div{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.carrito-botones{

}

/*CARRITO-FIN*/

/*RULETA*/
.ruleta-section{
  all: initial;
  width: auto;
  display: flex;
  margin: 10px 10vw;
  overflow-x: auto;
  background-color: rgb(86 48 221);
}
.ruleta-article {
  all: initial;
  flex: 0 0 auto;
  border: 1px solid black;
  margin: 2px;
  background-color: white;
  text-align: center;
}
.ruleta-article *{
  margin-bottom: 2px;
}
.ruleta-img{
  width: 100px;
}

/*RULETA FIN*/