/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255);
    width: 50%;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: solid 3px black;
    border-radius: 5%;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

/*FORMULARIO*/
.registrate{
    width: 100%;
    text-align: center;
    border-bottom: solid 3px black;
    margin: 5px;
    padding: 5px;
}
.texto1{
    margin: 0 auto;
    padding: 10px 10px 30px;
    width: 90%;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.formulario-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    margin: 10px;
}
main input{
    border-radius: 20px;
}
.enviar-cancelar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 5px;
    margin: 10px;
}
.enviar-cancelar button{
    width: 80%;
    margin: 5px;
    border-radius: 20px;
}
/*FIN FORMULARIO*/