/*MAIN*/
main {
    padding: 10% 0px; 
    display: flex;
    justify-content: center;
}

.header-carro {
    top: 40%;
    right: 3%;
    position: fixed;
    }

/*FORMULARIO*/
.formularioregistro {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255);
    width: 50%;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.registrate{
    width: 100%;
    text-align: center;
    border-bottom: solid 3px black;
    margin: 5px;
    padding: 5px;
}
.texto1{
    margin: 0 auto;
    padding: 10px 10px 30px;
    width: 90%;
}

.formularioregistro form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.formulario-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px;
    margin: 10px;
}
.formularioregistro input{
    border-radius: 20px;
    height: 34px;
}
.enviar-cancelar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 5px;
    margin: 10px;
}
.enviar-cancelar button{
    width: 90%;
    margin: 5px;
    border-radius: 20px;
}
/*FIN FORMULARIO*/