@import url(/fonts/Roboto-Regular.ttf);

/*PRINCIPALES*/
/* body {
    background-color: #14539A;
    color: white;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    padding-top: 60px; 
} */


/********ICONO CARRITO******/
 /* .header-carro{
    position: relative;
    bottom: -200px;
    right: 10%;
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,0.2);
    border: 3px;
    transition: all 0.5s ease;
} 
.header-carro .fa-solid.fa-cart-arrow-down {
    font-size: 30px; 
    transition: transform 0.5s;
}
.header-carro:hover {
    width: 100px;
    height: 100px;
}

.header-carro:hover .fa-solid.fa-cart-arrow-down{
    transform: scale(2);
} 
 .fa-cart-arrow-down{
    color:white; 
} 
/*****FIN ICONO CARRITO ****/
    

    /*IMAGENES*/
/* .logo {
    width: 60px;     
} */

    /*FIN IMAGENES*/
/*FIN HEADER*/
/* button {
    font-family: 'Segoe UI', Tahoma, sans-serif;
} */



/*MAIN*/
/* main{
    margin-top: 60px;
} */
