@import url(/fonts/Roboto-Regular.ttf);

* {
    box-sizing: border-box;
    margin: 0%;
}

/*PRINCIPALES*/
body {
    background-color: #14539A;
    color: white;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    padding-top: 60px; 
}

/*HEADER*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;  
    top:0px;
    width: 100%;
    z-index: 1;
    background-color: #14539A;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

header nav ul li {
    border: 10px;
    margin: 20px;
    list-style-type: none;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
header nav ul li a:hover {
    color: black;
}

    /*ICONO*/
.header-carro{
    position: absolute;
    bottom: -200px;
    right: 10%;
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,0.2);
    border: 3px;
    transition: all 0.5s ease;
}
.header-carro .fa-solid.fa-cart-arrow-down {
    font-size: 30px; /* Ajusta este valor a tu preferencia */
    transition: transform 0.5s;
}
.header-carro:hover {
    width: 100px;
    height: 100px;
}

.header-carro:hover .fa-solid.fa-cart-arrow-down{
    transform: scale(2);
}
.fa-cart-arrow-down{
    color:white;
}
    /*FIN ICONO*/

    /*IMAGENES*/
.logo {
    width: 60px;     
}

    /*FIN IMAGENES*/
/*FIN HEADER*/
button {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}



/*MAIN*/
main{
    margin-top: 60px;
}
/*FIN MAIN*/


/*FOOTER*/

/*FIN FOOTER*/