* {
  box-sizing: border-box;
  font-family: "Lobster-Regular", sans-serif;
  margin: 0;
  padding: 0%;
}

/*********** Header Global************/
header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  color: white;
  border-bottom: 2px solid rgb(86 48 221);
  position: fixed;
  width: 100%;
  height: 45px;
  align-items: center;
  background-color: rgb(86 48 221);
}

nav ul li {
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-left: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: small;
  margin: 0px;
  transition: font-size 0.4s; 
}

nav ul li a:hover {
  font-size: 1.4rem;
  color: goldenrod;
}

/*********** FIN Header ************/


/********ICONO CARRITO Global******/
.header-carro {
  top: 70%;
  right: 3%;
  position: fixed;
  
  bottom: -200px;
    
  border-radius: 50%;
  width: 46px;
  height: 46px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0,0.2);
  border: 3px;
  transition: all 0.5s ease;
  padding: 10px;
  }
  .header-carro .fa-solid.fa-cart-arrow-down {
    font-size: 22px;
    transition: transform 0.5s;
  }



.header-carro:hover .fa-solid.fa-cart-arrow-down{
  transform: scale(2);
} 
.fa-cart-arrow-down{
  color:white;
} 
/*****FIN ICONO CARRITO ****/

/******** FOOTER Global *********/
footer {
  display: flex;
  text-align: center;
  padding: 50px 0px 0px 0px;
  background-color: rgb(86 48 221);
  color: white;
  flex-direction: column;
  align-items: center;
}

.redes ul {
  list-style: none;
  padding: 0;
  display: flex;
  /* Muestra los elementos de la lista en línea (en una fila) */
  justify-content: center;
  /* Centra los elementos de la lista horizontalmente */
}

.redes ul li {
  margin: 0 10px;
  /* Espacio entre cada ícono de red social */
}

.redes i {
  color: white;
  font-size: 2rem;
  padding: 20px 10px
}

.linea-divisoria {
  border: 1% solid #ece7e7;
  width: 85%;
  margin: 25px 0px 0px 0px;
}

.contact-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 15px 0px 15px 0px;
  font-size: 12px;
}
.contact-section2 {
  font-size: 0.8rem;
}
.copy {
  font-size: 0.8rem;
}
/********FIN FOOTER*********/


/********BOTONES HOME*********/
.botonesbebidas h3{
  color: #1b07ff;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.sin-alcohol {
  background-image: url("/img/jugos-antigripales.jpg");
  background-size: cover;
  text-align: center;
  height: max-content;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 9px 0px;
  position: relative; /* Nuevo: posición relativa */
}

.sin-alcohol:hover {
  transform: scale(1.3);
}

.gaseosas {
  background-image: url("/img/gaseosas.jpg");
  background-size: cover;
  text-align: center;
  height: max-content;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 9px 0px;
}

.gaseosas:hover {
  transform: scale(1.3);
}

.cervezas {
  background-image: url("/img/cervezas.jpg");
  background-size: cover;
  text-align: center;
  height: max-content;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 9px 0px;
}

.cervezas:hover {
  transform: scale(1.3);
}

.tragos {
  background-image: url("/img/tragos.jpg");
  background-size: cover;
  text-align: center;
  height: max-content;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 9px 0px;
}

.tragos:hover {
  transform: scale(1.3);
}

.boton {
  background-color: #5b42b5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 3%;
  padding: 3px 12px;
}

.botonesbebidas {
  display: flex;
  justify-content: space-between;
  height: 80%;
  border: 3px;
  padding: 36px 0px 67px 0px;
}
/***********FIN BOTONES HOME*************/


/*Estilos en el main Index*/

main section article {
  width: 30%;
  flex: 1;
  padding: 20px;
  margin: 30px 10px;
  background-color: rgb(86 48 221 / 16%);
  text-align: center;
}

.imagen-main {
  max-width: 80%;
}

.contenedor-1 {
  display: flex;
  margin-top: 5px;
}

.contenedor-2 {
  display: flex;
  margin-top: 5px;
}

/*Estilos Registro*/

.main-registro {
  margin-top: 90px;
}

.navegador-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Fin Generales*/

/*
HTML del Registro
*/

/*Imagenes*/
.logo {
  width: 80px;
  height: 80px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-baar {
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.menu-baar-position {
  background-color: aqua;
}

.imagen-fondo {
  width: 100%;
}

/*Footer Imagenes*/

/*Fin Footer Imagenes*/

/*Fin Imagenes*/

/*Formulario Registro*/
.articulo-registro {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 150px;
  border-radius: 100%;
}

.formulario-registro div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
}

.formulario-registro div input {
  width: 300px;
  height: 30px;
}

.form-div-button {
  width: 150px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


/*Fin Formulario Registro*/

/*Main Varios*/

.borde-inferior {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

/*
Fin del HTML del Registro
*/

/*Media query*/

/*Tablet*/
@media (min-width:460px) {
  nav {
    justify-content: flex-end;
    height: 60px;
    
  }
  nav ul li {
    display: inline;
    list-style: none;
    margin-right: 10px;
  }
  
  nav a {
    
    font-size: 1rem;
    
  }
  .header-carro {
    
    width: 60px;
    height: 60px;
    
  }
  .header-carro .fa-solid.fa-cart-arrow-down {
    font-size: 30px;
    
  }
  
 
}

/*Desktop*/
@media (min-width: 768px) {
  nav a {
    
    
    font-size: 1.1rem;
  }
  .header-carro {
    
    width: 80px;
    height: 80px;
    
  }
  .header-carro .fa-solid.fa-cart-arrow-down {
    font-size: 40px;
    
  }
}
