main {
    padding: 13% 0px; 
    display: flex;
    justify-content: center;
}
.header-carro {
    top: 40%;
    right: 3%;
    position: fixed;
    }

.formulariousuario {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255);
    width: 40%;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.formulariousuario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.formulario-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    margin: 10px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: flex-start;
    padding: 5px;
    margin: 5px;
}

.formulariousuario input {
    border-radius: 20px;
    height: 34px;
}

.ingresar {
    width: 120px;
    margin: 5px;
    border-radius: 20px;
}
.olvidadizo{
    padding: 5px;
    margin: 5px;
}