<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs', {titulo: "Carrito", estilo: "carrito.css"})%>

<body>
  <%- include('partials/header.ejs')%>

    <main>
      <!--CARRITO-->
      <section class="carrito-section">

        <div class="carrito-img-agregados">
          
          <!--Resumen de Compras-->
          <div class="carrito-descripcion">
            
            <!--Compras agregadas al carrito-->
          
            <div class="item-carrito">
              <div>
                <img class="carrito-img-chica" src="/img/carrito/botellahielo.jpg" alt="">
                <div class="info-item">
                  <p>Marca</p>
                  <p>Descripción producto 1</p>
                  <p>litros</p>
                  <p>cantidad:</p>
                </div>
                
              </div>
              
              <div>
                <div class="carrito-botones">
                <button>Eliminar</button>
                <button>Guardar</button>
                <button>Modificar</button>
                <button>Comprar ahora</button>
              </div>
            </div>
          </div>
          <div class="item-carrito">
            <div>
              <img class="carrito-img-chica" src="/img/carrito/botellahielo.jpg" alt="">
              <div class="info-item">
                <p>Marca</p>
                <p>Descripción producto 1</p>
                <p>litros</p>
                <p>cantidad:</p>
              </div>
              
            </div>
            
            <div>
              <div class="carrito-botones">
              <button>Eliminar</button>
              <button>Guardar</button>
              <button>Modificar</button>
              <button>Comprar ahora</button>
            </div>
          </div>
        </div>
        <div class="item-carrito">
          <div>
            <img class="carrito-img-chica" src="/img/carrito/botellahielo.jpg" alt="">
            <div class="info-item">
              <p>Marca</p>
              <p>Descripción producto 2</p>
              <p>litros</p>
              <p>cantidad:</p>
            </div>
            
          </div>
          
          <div>
            <div class="carrito-botones">
            <button>Eliminar</button>
            <button>Guardar</button>
            <button>Modificar</button>
            <button>Comprar ahora</button>
          </div>
        </div>
      </div>
      <div class="item-carrito">
        <div>
          <img class="carrito-img-chica" src="/img/carrito/botellahielo.jpg" alt="">
          <div class="info-item">
            <p>Marca</p>
            <p>Descripción producto 3</p>
            <p>litros</p>
            <p>cantidad:</p>
          </div>
          
        </div>
        
        <div>
          <div class="carrito-botones">
          <button>Eliminar</button>
          <button>Guardar</button>
          <button>Modificar</button>
          <button>Comprar ahora</button>
        </div>
      </div>
    </div>
    <div class="item-carrito">
      <div>
        <img class="carrito-img-chica" src="/img/carrito/botellahielo.jpg" alt="">
        <div class="info-item">
          <p>Marca</p>
          <p>Descripción producto 4</p>
          <p>litros</p>
          <p>cantidad:</p>
        </div>
        
      </div>
      
      <div>
        <div class="carrito-botones">
        <button>Eliminar</button>
        <button>Guardar</button>
        <button>Modificar</button>
        <button>Comprar ahora</button>
      </div>
    </div>
  </div>
              
            
            
            
              
            
          </div>
          <!--Nombre Producto-->
          <div class="carrito-producto">
            <h2 class="titulo-carrito">Resumen de Compra</h2>
            
          </div>
        </div>
        
        <!--Botones-->
        
      <!--RULETA----Tambien te interesó-->
      <h3 class="titulo-ruleta">También te interesó</h3>
      <section class="ruleta-section">

        <article class="ruleta-article">
          <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 1" />
          <h4>Producto 1</h4>
          <p>Precio: $</p>
          <button>Añadir al carrito</button>
        </article>

        <article class="ruleta-article">
          <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 2" />
          <h4>Producto 2</h4>
          <p>Precio: $</p>
          <button>Añadir al carrito</button>
        </article>

        <article class="ruleta-article">
          <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 3" />
          <h4>Producto 3</h4>
          <p>Precio: $</p>
          <button>Añadir al carrito</button>
        </article>

        <article class="ruleta-article">
          <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 4" />
          <h4>Producto 4</h4>
          <p>Precio: $</p>
          <button>Añadir al carrito</button>
        </article>

      </section>
      </div>
    </main>
    <%- include('partials/footer.ejs')%>
</body>

</html>