<!DOCTYPE html>
<html lang="en">
  <!--HEAD-->
  <%- include('partials/head', {titulo : 'Registro', estilo : 'registro.css'}) %>
  
  <body >
    <!--Header-->
    <%- include('partials/header.ejs')%>
    <!--Main-->
    <main class="body-registro">
      <button class="header-carro">
        <i class="fa-solid fa-cart-arrow-down"></i>
      </button>

      <div class="form-registro">
        <form action="">
          <h1>Formulario de Registro</h1>
          <div class="input-box">
            <label for="Nombre">Nombre</label>
            <input type="text" placeholder="Ingrese su Nombre" required>
          </div>
          <div class="input-box">
            <label for="Apellido">Apellido</label>
            <input type="text" placeholder="Ingrese su Apellido" required>
          </div>
          <div class="input-box">
            <label for="Usuario">Usuario</label>
            <input type="text" placeholder="Usuario" required>
          </div>
          <div class="input-box">
            <label for="Contrase침a">Contrase침a</label>
            <input type="password" placeholder="Contrase침a" required>
          </div>
          <div class="input-box">
            <label for="email">Correo Electr칩nico</label>
            <input type="email" placeholder="martin@gmail.com" required>
          </div>
          <div class="input-box">
            <label for="Fec-nac">Fecha de nacimiento</label>
            <input type="date" placeholder="Fecha de nacimiento" required class="fecNac">
          </div>

          <button type="submit" class="boton-registro">Registrarme</button>
        </form>
      </div>
      
    </main>

    <!--Footer-->
    <%- include('partials/footer.ejs')%>
  </body>
</html>
