<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {estilo : "userProfile.css" , titulo : "Profile" }) %>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <a href="/usuario/logout"><button>logout</button></a>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>