<a href="/admin/productos"><button class="btn btn-block">Productos</button></a>
<a href="/admin/pedidos"><button class="btn btn-block">Pedidos</button></a>
<a href="#"><button class="btn btn-block">Ventas</button></a>
<a href="#"><button class="btn btn-block">ofertas</button></a>
<a href="#"><button class="btn btn-block">Usuarios Registrados</button></a>
<a href="#"><button class="btn btn-block">visitas</button></a>
<a href="#"><button class="btn btn-block">Foro y consultas</button></a>
<a href="#"><button class="btn btn-block">Detener Funcionamiento</button></a>