<header>
  <nav>
    <ul>
      <% if (locals.isLogged) { %>
        <li><a href="/"><i class='bx bx-home'></i></a></li>
        <li><a href="/detalleProducto">Producto</a></li>
        <li><a href="/carrito"><i class='bx bxs-cart'></i></a></li>
        <li><a href="/usuario/profile">Perfil</a></li>
        <li><a href="/admin">Admin</a></li>
        <% }else{ %>
          <li><a href="/"><i class='bx bx-home'></i></a></li>
          <li><a href="/detalleProducto">Producto</a></li>
          <li><a href="/carrito"><i class='bx bxs-cart'></i></a></li>
          <li><a href="/usuario/registro">Registro</a></li>
          <li><a href="/usuario/login"><i class='bx bx-user-circle'></i></a></li>
          <% } %>
    </ul>
  </nav>
</header>