<header>
  <nav>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="./detalle_producto">Producto</a></li>
      <li><a href="./carrito">Carrito</a></li>
      <li><a href="./registro">Registro</a></li>
      <li><a href="./usuario">Usuario</a></li>
    </ul>
  </nav>
</header>
