<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('../partials/head.ejs', {titulo: "Admin" , estilo: "admin.css" })%>

    <body>
        <!--Header-->
        <%- include('../partials/header.ejs')%>
            <!--Main-->
            <main>

                <section class="box-selection">
                    <a href="/crearProducto"><button>Crear Producto</button></a>
                    <a href="/modificarProducto"><button>Modificar Producto</button></a>
                    <a href="/eliminarProducto"><button>Eliminar Producto</button></a>
                </section>
                <section class="box-render">
                    <!--SEARCH-->
                    <form action="/admin/buscarProducto" method="get">
                        <input type="text" name="buscar">
                        <input type="submit" value="buscar">
                    </form>
                    <% if (typeof productos !=='undefined' ) { %>

                        <article>
                            <% for( let i=0; i < productos.length; i++ ) { %>
                                <%= productos[i].nombreProducto %>
                                    <% } %>
                        </article>
                        <% } else { %>
                            <article>
                                <% for( let i=0; i < busquedaResultante.length; i++ ) { %>
                                    <%= busquedaResultante[i].nombreProducto %>
                                        <% } %>
                            </article>
                            <% } %>
                </section>

            </main>
    </body>

</html>